:root {
  --primary-color: #1A73E8;
  --primary-color-darker: #0056b3;
  --light-grey: #F1F3F4;
  --grey: #6C757D;
  --dark-grey: #3C4043;
}

a {
  text-decoration: none;
  transition: color 200ms ease;
  color: var(--primary-color);
}
a:hover {
  color: var(--primary-color-darker);
}

.pColor {
  color: var(--primary-color);
  font-weight: inherit;
}

.btn {
  color: white;
  font-size: 0.8rem;
  padding: 0.6rem 1.2rem;
  border-radius: 2px;
  display: inline-block;
  transition: background-color 200ms ease;
  background-color: var(--primary-color);
}
.btn:hover {
  background-color: var(--primary-color-darker);
  color: white;
}

.section {
  padding: 4rem 0;
}
  .section-bg {
    background-color: var(--light-grey);
  }
  .section .heading {
    margin: 0;
    margin-bottom: 1.2rem;
    color: var(--dark-grey);
    font-size: 2.6rem;
    font-weight: bold;
  }

.nav {
  border-bottom: 1px solid var(--light-grey);
  background-color: rgba(255, 255, 255, 0.96);
}
  .nav > .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
  }
  .nav > .container > *:not(:last-child) {
    padding-bottom: 1rem;
  }
  @media (min-width: 768px) {
    .nav {
      position: sticky;
      top: 0;
    }
    .nav > .container {
      flex-direction: row;
      align-items: center;
    }
    .nav > .container > *:not(:last-child) {
      padding-bottom: 0;
    }
  }
  .nav a {
    color: var(--grey);
  }
  .nav a:hover {
    color: var(--primary-color);
  }
  .nav > .container a:not(:last-child) {
    margin-right: 0.5rem;
  }
  .nav .logo-gdg {
    display: flex;
  }
  .nav .logo-gdg img {
    height: 20px;
    margin-right: 0.8rem;
  }
  @media (min-width: 768px) {
    .nav .logo-wtm {
      margin-left: auto;
    }
  }
  .nav .logo-wtm img {
    height: 30px;
  }

.hero .description {
  width: 75ch;
  max-width: 100%;
  font-size: 1.1rem;
  color: var(--dark-grey);
  line-height: 1.4;
}
  .hero .hashtags {
    color: var(--grey);
  }

.event-card {
  display: inline-block;
  max-width: 100%;
  width: 320px;
  padding: 1rem 1.3rem;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}
  .event-card .title {
    margin: 0;
    margin-bottom: 1.2rem;
    color: var(--grey);
    font-weight: 100;
    font-size: 1.618rem;
  }
  .event-card .details {
    list-style: none;
    padding: 0;
  }
  .event-card .details li {
    font-size: 1rem;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
  }
  .event-card .details li .material-icons {
    font-size: 1rem;
    margin-right: 6px;
  }
  .event-card .more-link {
    float: right;
  }


.footer > div {
  display: flex;
  flex-direction: column;
}
  .footer .organizer {
    margin: 0 2rem 1rem 0;
    font-weight: 300;
    color: var(--dark-grey);
  }
  @media (min-width: 768px) {
    .footer > div {
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }
    .footer .organizer {
      margin-bottom: 0;
    }
  }
  .footer .link {
    color: var(--grey);
    margin-right: 4px;
  }
  .footer .link:hover {
    color: var(--dark-grey);
  }

@font-face {
  font-family: 'Google Sans';
  font-weight: normal;
  font-display: fallback;
  src: local('Google Sans'), url('../assets/fonts/GoogleSans-Regular.ttf');
}
@font-face {
  font-family: 'Google Sans';
  font-weight: 800;
  font-display: fallback;
  src: local('Google Sans'), url('../assets/fonts/GoogleSans-Bold.ttf');
}
