.text {
  width: 55ch;
  max-width: 100%;
  color: var(--dark-grey);
  line-height: 1.4;
}

.text.normal {
  font-weight: normal;
}
.text.bold {
  font-weight: bold;
}

.text.inherit {
  color: inherit;
}
.text.default {
  color: var(--dark-grey);
}
.text.grey {
  color: #6c757d;
}
.text.primary {
  color: var(--primary-color);
}
.text.secondary {
  color: var(--secondary-color);
}

.text.md {
  font-size: 1rem;
}
.text.sm {
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .text.md {
    font-size: 1.1rem;
  }

  .text.sm {
    font-size: 1rem;
  }
}
