.nav {
  border-bottom: 1px solid var(--lighter-grey);
  background-color: rgba(255, 255, 255, 0.96);
}
.nav > :global(.container) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}
.nav > :global(.container) > * {
  padding-bottom: 12px;
}
@media (min-width: 768px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 1010;
  }
  .nav > :global(.container) {
    flex-direction: row;
    height: 68px;
  }
  .nav > :global(.container) > * {
    padding-bottom: 0;
  }
}
.nav .nav-links {
  margin: 0 1rem;
}
.nav a {
  color: var(--grey);
}
.nav-links a:not(:last-child) {
  margin-right: 1rem;
}
.nav a:hover {
  color: var(--secondary-color);
}
.nav .logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.nav .logo-primary {
  display: flex;
}
.nav .logo-primary img {
  height: 52px;
  margin: 0 -1rem;
}
@media (min-width: 768px) {
  .nav .logo-primary {
    margin-right: 1rem;
    height: 58px;
  }
}
.nav .logo-secondary img {
  height: 20px;
  display: inline-flex;
}
@media (min-width: 768px) {
  .nav .logo-secondary {
    margin-left: auto;
    height: 24px;
  }
}
