:root {
  --primary-color: #5380bf;
  --primary-color-darker: #35598a;
  --secondary-color: #16b8a2;
  --secondary-color-darker: #159e8b;
  --lighter-grey: #f1f3f4;
  --grey: #6c757d;
  --dark-grey: #3c4043;

  --radius-sm: 2px;
  --radius-md: 4px;
  --radius-lg: 8px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Google Sans', Roboto, 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  transition: color 200ms ease;
  color: var(--secondary-color);
}
a:hover {
  color: var(--secondary-color-darker);
}

.container {
  max-width: 100%;
  width: 980px;
  margin: auto;
  padding: 0 1rem;
}

@font-face {
  font-family: 'Google Sans';
  font-weight: normal;
  font-display: fallback;
  src: local('Google Sans'), url('../assets/fonts/GoogleSans-Regular.ttf');
}
@font-face {
  font-family: 'Google Sans';
  font-weight: 800;
  font-display: fallback;
  src: local('Google Sans'), url('../assets/fonts/GoogleSans-Bold.ttf');
}
