.footer > :global(.container) {
  display: flex;
  flex-direction: column;
}
.organizer {
  margin: 0 2rem 1rem 0;
  font-weight: 300;
  color: var(--dark-grey);
}

.copy {
  opacity: 0.5;
  margin-top: 3em;
  font-size: 0.8em;
}

.link {
  color: var(--grey);
  margin-right: 0.5em;
}
.link:hover {
  color: var(--secondary-color);
}

@media (min-width: 768px) {
  .footer > :global(.container) {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .organizer {
    margin-bottom: 0;
  }
  .copy {
    margin-left: auto;
  }
}
